#**Pandas**

Pandas is open-sourse python library.

simple yet powerful and expressive tool.

it is used to analyse data

What is Series object in pandas?

it is defined as one-dimensional labelled array. we can easily convert the list, tuple and dict. into series using series method.
A series cannot be contains multiple columns. It has one parameter.

In [ ]:
import pandas as pd
data=[1,2,3,4]
series1=pd.Series(data)
series1

In [ ]:
#check the type
type(series1)

In [ ]:
#changing the index name in series object
series1=pd.Series(data, index=['a','b','c','d'])
series1

DataFrame:

It is two-dimensional labelled data structures with columns of potentially different type.

How to create a dataframe?

In [ ]:
#creating a data frane using list
import pandas as pd
data=[1,2,3,4,5]
df=pd.DataFrame(data)
df

In [ ]:
#creating a data frame using dictionary
dictionary={'Car':['BMW','TATA','Mahindra'],'count':[10,25,30]}
df=pd.DataFrame(dictionary)
df

In [ ]:
#creting a data frame using series
series=pd.Series([6,12], index=['a','b'])
df=pd.DataFrame(series)
df

In [ ]:
#creating a data frame using numpy array
import numpy as np
numpyarray=np.array([[50000,60000],['John','James']])
df=pd.DataFrame({'name':numpyarray[1],'salary':numpyarray[0]})
df

How to perform of merge operation?

In [ ]:
import pandas as pd
player=['player1','player2','player3']
points=[10,20,30]
tittle=['Game1','Game2','Game3']
df1=pd.DataFrame({'Player':player,'Points':points,'Tittle':tittle})
df1

In [ ]:
player=['player1','player5','player6']
power=['Punch','Kick','Elbow']
tittle=['Game1','Game5','Game6']
df2=pd.DataFrame({'Player':player,'Power':power,'Tittle':tittle})
df2

In [ ]:
#inner merge
df1.merge(df2,on='Player',how='inner')

In [ ]:
#left merge
df1.merge(df2,on='Player',how='left')

In [ ]:
#right merge
df1.merge(df2,on='Player',how='right')

In [ ]:
#outer merge
df1.merge(df2,on='Player',how='outer')

How to perform join operation?

In [ ]:
import pandas as pd
player= ['player1','player2','player3']
points=[10,20,30]
tittle=['Game1','Game2','Game3']
df3= pd.DataFrame({'Player':player,'Points':points,'Tittle':tittle}, index=['L1','L2','L3'])
df3

In [ ]:

player=['player1','player5','player6']
power= ['Punch','Kick','Elbow']
tittle=['Game1','Game5','Game6']
df4= pd.DataFrame({'Players':player,'Power':power,'Tittles':tittle}, index=['L1','L2','L4'])
df4

In [ ]:
#inner join
df3.join(df4, how='inner')

In [ ]:
#left join
df3.join(df4, how='left')

In [ ]:
#right join
df3.join(df4, how='right')

In [ ]:
#outer join
df3.join(df4, how='outer')

How to two data frame concatenates in pandas

In [ ]:
pd.concat([df3,df4])

Importing and analyzing of data set

In [ ]:
#import pandas library
import pandas as pd
#read dataset and store into a dataframe
cars=pd.read_csv("mtcars2.csv")
#print
cars

Analyzing dataset

In [ ]:
#check the type
type(cars)

In [ ]:
#view only the first five records
cars.head()

In [ ]:
#view only the first ten records
cars.head(10)

In [ ]:
#view only the last five records
cars.tail()

In [ ]:
#view only the last ten records
cars.tail(10)

In [ ]:
#View number of row and column in the dataframe
cars.shape

In [ ]:
#print a concise summary of the column
cars.info(null_counts=True)

In [ ]:
#mean
cars.mean()

In [ ]:
#median
cars.median()

In [ ]:
#standard deviation
cars.std()

In [ ]:
#maximum of each altribute
cars.max()

In [ ]:
#minimum of each atribute
cars.min()

In [ ]:
#number of non-null records in each column
cars.count()

In [ ]:
#descriptive statistics summary
cars.describe()

Cleaning of dataset

In [ ]:
#rename column
cars=cars.rename(columns={'Unnamed: 1':'Model'})
cars

In [ ]:
#fill the null values with mean of the column
cars.qsec=cars.qsec.fillna(cars.qsec.mean())
cars

In [ ]:
#drop unwanted column
cars=cars.drop(columns=['S.No'])
cars

In [ ]:
#find correlation matrix
df=cars[['mpg','cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb']].corr()
df

In [ ]:
#change mpg from string to float
cars.mpg=cars.mpg.astype(float)
#see the change
cars.info(null_counts=True)

In [ ]:
#again find the correlation inculding mpg
df=cars[['mpg','cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb']].corr()
df

Manipulating the dataset

How to perform indexing on the dataset?

In [ ]:
#view of hp column only
cars.iloc[:,4]

In [ ]:
#first five records of hp column
cars.iloc[0:5,4]

In [ ]:
#all rows and all column
cars.iloc[:,:]

In [ ]:
#for attributes from hp to carb see all the records from index 6
cars.iloc[6:,4:]

In [ ]:
#now we want to look at all the rows and only the first column
cars.iloc[:,1]

In [ ]:
#see all the record of mpg column - indexing by label
cars.loc[:,"mpg"]

In [ ]:
#display the records from index 0 to index 6 from mpg column
cars.loc[:6,"mpg"]

In [ ]:
#see the first 7 records from mpg to qsec column
cars.loc[:6,"mpg":"qsec"]

How to set value of the column?

In [ ]:
#see value 1 to column 'am'
cars['am']=1
cars

In [ ]:
#double uo records in 'am' using lambda function-applying function
f=lambda x: x*2
cars['am']=cars['am'].apply(f)
cars

In [ ]:
#sorting cyl column ascending order - sorting
cars.sort_values(by='cyl')

In [ ]:
#sorting cyl column descending order - sorting
cars.sort_values(by='cyl', ascending=False)

In [ ]:
#filtering th erecords with more than 6 cylinder
cars['cyl']>6

In [ ]:
#filter records with more than 6 cylinder
filter1=cars['cyl']>6
#apply filter to data frame
filtered_new=cars[filter1]
filtered_new

In [ ]:
#filter records with more than 6 cyl and hp more than 300
filter2=(cars["cyl"]>6)&(cars["hp"]>300)
filtered_review=cars[filter2]
filtered_review

Visualizing the dataset-(Matplotlib)

In [ ]:
#Line plot
#import mtplotlib
import matplotlib.pyplot as plt
%matplotlib inline
#see hp varies with each car with line plot
y1=cars['hp']
x=range(32)
plt.plot(x,y1)

In [ ]:
#double line
y1=cars['hp']
y2=cars['disp']
x=range(32)
plt.plot(x,y1)
plt.plot(x,y2)
plt.legend()

In [ ]:
#Area plot
y1=cars['hp']
y2=cars['disp']
x=range(32)
#area plot hp and disp
plt.stackplot(x,y1,colors='purple', alpha=0.7)
plt.stackplot(x,y2,colors='black', alpha=0.5)

In [ ]:
#Area and Line plot
y1=cars['hp']
y2=cars['disp']
x=range(32)
#area and line plot to see the margin
plt.plot(x,y1,linewidth=2.0, color='c')
plt.stackplot(x,y1,colors='purple', alpha=0.7)
plt.plot(x,y2,linewidth=1.0, color='r')
plt.stackplot(x,y2,colors='black', alpha=0.5)

In [ ]:
#Bar plot- (Vertical)
y=cars['hp']
x=range(32)
#model to list
x1= cars ['Model'].tolist()
#adding fig. to adjust figsize
fig=plt.figure(figsize=(50,15))
#see the hp changewith bar plot
plt.bar(x1,y,color="purple",alpha=0.9 )

In [ ]:
#horizantal bar plot
fig=plt.figure(figsize=(17,10))
plt.barh(x1,y, color="purple",alpha=0.8)