## **PYTHON**

Python is a widely used general purpose, high level programming language.
It was created by Gauido van Rassym in 1991 and further develope by the python software foundation.
It also performs automatic memory management, it generally has small programs when compared to java and c.
Python is most powerful,fexiable and easy to use language

**Operators**

In [1]:
#Arithmatic Operators
print("Addition:",3+4)
print("Subtraction:",3-4)
print("Multiplication:",3*4)
print("Division:",3/4)

Addition: 7
Subtraction: -1
Multiplication: 12
Division: 0.75

In [2]:
#Assigment Operators
x=50
x+=10
print(x)
x-=10
print(x)
x*=10
print(x)

60
50
500

In [3]:
#Comparison operators
x=10
y=20
print(x==y)
x=10
y=10
print(x==y)
x=10
y=20
print(x<=y)

False
True
True

In [4]:
#logical operators
x==15 and y!=16

False

**Strings**

A string is a sequence of characters that can be a combination of letters, number and special charaeters.
Using single quotes(') and double quotes(")

In [5]:
var1="okay"
var2="pythontutorial"
print(type(var1))
print(var1[1])
print(var2[1:5])

<class 'str'>
k
ytho

**Tuples**

A tuples is sequence of immutable python object.
Tuple is a collection of python objects stored much like list. ()

In [6]:
#use list
list1=[1,2,3,4,5]
print(tuple(list1))

(1, 2, 3, 4, 5)

In [7]:
Tup=(tuple("yogesh"))
print(Tup)

('y', 'o', 'g', 'e', 's', 'h')

In [8]:
Tuple=("yogesh")*3
print(Tuple)

yogeshyogeshyogesh

**List**

List is a sequence of mutable objects.

list is collection of things enclosed [] and separated by commas

In [9]:
list1=['a',1,2.5,3,"python"]
print(list1)

['a', 1, 2.5, 3, 'python']

In [10]:
list1=['a',1,2.5,3,"python"]
print(len(list1))

5

In [11]:
list1=['a',1,2.5,3,"python"]
list1.append(0)
print(list1)

['a', 1, 2.5, 3, 'python', 0]

In [12]:
list1=['a',1,2.5,3,"python"]
list1.reverse()
print(list1)

['python', 3, 2.5, 1, 'a']

In [13]:
list1=['a',1,2.5,3,"python"]
list1.remove(2.5)
print(list1)

['a', 1, 3, 'python']

**Dictionaries**

Dictionaries is an unorded collection of data.
Dictionarrie is a mutable.{:}

In [14]:
mydict={1:"yogesh",2:"Vivek",3:"Kasar"}
print(mydict)

{1: 'yogesh', 2: 'Vivek', 3: 'Kasar'}

In [15]:
mydict={'name':'yogesh', 1:[1,2,3,4]}
print(mydict)

{'name': 'yogesh', 1: [1, 2, 3, 4]}

In [16]:
dict2=mydict.copy()
print(dict2)

{'name': 'yogesh', 1: [1, 2, 3, 4]}

In [17]:
dict2=mydict.clear()
print(dict2)

None

**sets**

In [18]:
myset={1,2,3}
myset={1,2,3,3}
print(myset)

{1, 2, 3}

In [19]:
myset1={1,2,'c'}
myset2={1,'b','c'}
myset1|myset2

{1, 2, 'b', 'c'}

In [20]:
set1=set("yogeshkasar")
print(set1)

{'a', 'k', 'g', 's', 'r', 'y', 'o', 'h', 'e'}

In [21]:
string='yogesh'
set1=set(string)
print(set1)

{'g', 's', 'y', 'o', 'h', 'e'}

In [22]:
set1=set([1,2,3,4,5,6])
print(set1)

{1, 2, 3, 4, 5, 6}

In [23]:
set1=set()
print(set1)
set1.add(8)
set1.add(9)
print(set1)
for i in range(1,6):
  set1.add(i)
print(set1)

set()
{8, 9}
{1, 2, 3, 4, 5, 8, 9}

In [24]:
set1.update([10,12])
print(set1)

{1, 2, 3, 4, 5, 8, 9, 10, 12}

In [25]:
set1=set(["geeks","for","geeks"])
print(set1)
for i in set1:
 print(i,end=" ")
print("geek"in set1)

{'geeks', 'for'}
geeks for False

In [26]:
string=('y','o','g','e','s','h')
fset1=frozenset(string)
print(fset1)
print(frozenset())

frozenset({'g', 's', 'y', 'o', 'h', 'e'})
frozenset()

#conditional statement

In [27]:
i=10
if(i>15):
  print("10 is less than 15")
print("15 is greater than 10")

15 is greater than 10

In [28]:
i=20 #if-else
if(i<15):
  print("i is smaller than 15")
else:
  print("i is greater than 15")

i is greater than 15

In [29]:
x=25
if(x<20):
  print("x is less than 20")
elif(x==20):
  print("x is equal 20")
else:
  print("x is greater than 20")

x is greater than 20

In [30]:
x=10
if(x<20):
  print("x is less than 20")
  if(x<15):
    print("x is less than 15")
  else:
    print("x is greater than 15")
else:
  print("x is greater than 20")

x is less than 20
x is less than 15

In [33]:
 #elif statement
marks=85
if(marks>=90):
  print("grade is A")
elif(marks>=80):
    print("grade is B")
else:
  print("grade is c")

grade is B

In [34]:
#checking the odd number
num=int(input("entre the number"))
if(num%2)==0:
  print("the number is even")
else:
  print("the number is odd")

entre the number 10

the number is even

**looping statement**

In [35]:
#for loop-
fruits=["apple","banana","cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [36]:
for i in range (0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [37]:
#while loop
a=1
while (a<5):
  print(a)
  a+=2

count=0
while(count<3):
  count=count+1
  print(("hello"))

1
3
hello
hello
hello

**hands on looping statement**

In [38]:
#comprehention
'''num=[x for x in range(0,10)]
for x in num:
  print (x, end=", ")'''
for x in range(0,10):
   print(x, end=", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [39]:
for x in range (0,10):
  if(x==5):
    #break
    continue 
  print(x,end=",")

0,1,2,3,4,6,7,8,9,

In [40]:
a=10
while a!=0:
  print(a)
  a-=1

10
9
8
7
6
5
4
3
2
1

In [41]:
num=[x for x in range(0,10)]
index=0
while index < len(num):
  print(num[index],end=",")
  index+=1
print("done")

0,1,2,3,4,5,6,7,8,9,done

In [45]:
#printing the multiplication table of a given number
num=int(input("entre the number"))
for i in range(1,11):
   print(num,'X',i,'=',num*i)

entre the number 10

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

**Creating funtion**

In [48]:
#user defined funtion
def find_max():
  result=num[0]
  for x in nums:
    if x > result:
      result=x
  return result

**python class- 1-oct (lecture 3)**

In [50]:
#create a python if-else code-6
a= int(input("entre the choice1:"))
b= int (input("entre the choice2:"))
if a>b:
  print("Greater number is", a)
elif a==b:
  print("equal")
else:
  print("greater number is",b)

entre the choice1: 10
entre the choice2: 20

greater number is 20

In [53]:
n=eval(input("entre number"))
res=0
temp=n #temperalay
while(n!=0):
  rem=n%10
  res=res+rem*rem*rem
  n=n//10
if(temp==res):
  print("it's armstrong number")
else:
  print("it's not armstrong number")

entre number 20

it's not armstrong number

In [54]:
#prime number code using of flag variable
a=eval(input("entre the number"))
flag= True
if a>1:
 for i in range(2,a):
  if(a%i==0):
    flag= False
    break

if flag:
  print("prime number")
else:
  print("not a prime number")

entre the number 10

not a prime number

In [55]:
#using is else statement
a=int(input("entre the number"))
if a > 1:
   for i in range(2,int (a/2)+1):
       if (a % i) == 0:
           print("is not a prime number")
           break
   else:
       print(" prime number")
       
else:
   print("not a prime number")

entre the number 20

is not a prime number

In [56]:
from random import choice
#create a claculatore code program for addition, subtraction, multiplication and floor division
def addition(a,b):
    return a+b
def subtraction(a,b):
    return a-b
def multiplication(a,b):
    return a*b
def divide(a,b):
    return a/b
a=int(input("entre first number"))
b=int(input("entre second number"))
choice=int(input("1=addition\n2=subtractiion\n3=multiplication\n4=division\nEntre your choice"))
if(choice==1):
  print(addition(a,b))
elif(choice==2):
  print(subtraction(a,b))
elif(choice==3):
  print(multiplication(a,b))
elif(choice==4):
  print(divide(a,b))
else:
  print("wrong choice")

entre first number 10
entre second number 20
1=addition
2=subtractiion
3=multiplication
4=division
Entre your choice 5

wrong choice

In [57]:
#create a simple dictionary 
d={"key1":[1,2,[3,4]],"key":[4,5,[6,7]]}
d

{'key1': [1, 2, [3, 4]], 'key': [4, 5, [6, 7]]}

In [58]:
#ctreat sets
myset={1,2,3}
myset={1,2,3,3}
print(myset)
myset1={1,2,'c'}
myset2={1,'b','c'}
myset1|myset2

{1, 2, 3}

{1, 2, 'b', 'c'}

In [59]:
set1={1,2,3,4,7,9}
print(set1)
set2={1,2,3,4,5,6}
print(set2)
print(set1.union(set2))
print(set1.intersection(set2))

{1, 2, 3, 4, 7, 9}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 9}
{1, 2, 3, 4}

In [60]:
tuple(d.items())

(('key1', [1, 2, [3, 4]]), ('key', [4, 5, [6, 7]]))

In [61]:
t1=('yogesh')
t2=('kasar')
t3=(t1,t2)
print(t3)

('yogesh', 'kasar')

In [62]:
l=list(range(0,51,2))
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [63]:
print(len(l))

26

In [64]:
l.index(44)

22

In [65]:
l[3]=100
print(l)

[0, 2, 4, 100, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [66]:
sqr=[x*x for x in l]
print(sqr)

[0, 4, 16, 10000, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500]

**object oriented language (oops)-(lecture-4)**

In [69]:
class demo:
  def greet(self,name,id):#self is mandatory is pointing  to the call of currunt object- keyword
    print("Hello",name,"your id is: ",id)

In [70]:
d=demo()
d.greet('diya',2)

Hello diya your id is:  2

In [71]:
#class is combination data member and member function

In [72]:
class human:
  def walk(self):
    print("walking")
  def sing(self):
    print("singing")

In [73]:
yogesh=human()
yogesh.walk()

walking

In [74]:
class calculator:
  def __init__(self,a,b):#magic method
    self.a=a
    self.b=b
  def add(self):
    print(self.a+self.b)
  def sub(self):
    print(self.a-self.b)

c=calculator(2,3)
#c.setdata(2,3)
c.add()
c.sub()

5
-1

In [75]:
#constructor
class Sample:
  def __init__(self):
    self.name = "yogesh kasar"
  def disp(self):
    print(self.name)
obj=Sample()
obj.disp()

yogesh kasar

In [76]:
#inheritance-single
class Parent: 
  def fun(self):
    print("This is parent fun")

class child(Parent):
  def gun(self):
    print("This is child gun")

c=child()
c.gun()
c.fun()

This is child gun
This is parent fun

In [77]:
#multilevel inheritnace
class parent:
  def fun(self):
    print("this is parent fun")

class child(parent):
  def gun(self):
    print("this is child gun")

class gchild(child):
  def run(self):
    print("this is grand child")

c=gchild()
c.run()
c.gun()
c.fun()

this is grand child
this is child gun
this is parent fun

In [78]:
#multiple inheritance
class parent:
  def fun(self):
    print("this is parent fun")

class child():
  def gun(self):
    print("this is child gun")

class gchild(parent,child):
  def run(self):
    print("this is grand child")

c=gchild()
c.run()
c.gun()
c.fun()

this is grand child
this is child gun
this is parent fun

In [79]:
#hierarchical inheritance
class parent:
  def fun(self):
    print("this is parent fun")

class child():
  def gun(self):
    print("this is child gun")

class gchild(parent,child):
  def run(self):
    print("this is grand child")

c=gchild()
c.run()
c.gun()
c.fun()

this is grand child
this is child gun
this is parent fun

In [80]:
#abstraction
from abc import ABC, abstractmethod

class manager(ABC):
  @abstractmethod
  def fun(self):
    
    pass
  @abstractmethod
  def gun(self):
    pass
class yogesh(manager):
  def fun(self):
    print("this is yogesh fun")
class shubham(yogesh):
  def gun(self):
    print("this is shubham gun")

s=shubham()
s.fun()
s.gun()

this is yogesh fun
this is shubham gun

In [81]:
#encapsution
class demo:
  def __init__(self):
    self.a=10    #public data member
    self._b=20   #protected data member
    self.__c=30  #private data member

  def getdata(self):
      print(self.__c)

d=demo()
print(d.a)
print(d._b)
#print(d.__c)
d.getdata()

10
20
30

In [82]:
#polymorphism
class parent:
  def smartphone(self):
    print("parents smartphone")
class child(parent):
  def laptop(self):
    print("child laptop")

c=child()
c.smartphone()

parents smartphone